Loyalty.Business/bin/
Loyalty.Business/obj/
Loyalty.DataAccess/bin/
.vs/
Loyalty.DataAccess/obj/
Loyalty.ViewModels/bin/
Loyalty.ViewModels/obj/
Loyalty.WebApi/bin/
Loyalty.WebApi/log/
Loyalty.WebApi/logs/
Loyalty.WebApi/obj/
Loyalty.WebApi/Loyalty.WebApi.csproj.user
Loyalty.ViewModels/Anatoli.ViewModels.csproj.user
Loyalty.Business/Anatoli.Business.csproj.user
Loyalty.Business/Loyalty.Business.csproj.user
Loyalty.DataAccess/Anatoli.DataAccess.csproj.user
Loyalty.DataAccess/Loyalty.DataAccess.csproj.user
Loyalty.WebApi/Anatoli.Cloud.WebAPI.csproj.user
